@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: radial-gradient(circle at 50% 50%, #1f1c2c, #454a59);
  font-family: Arial, Helvetica, sans-serif;
}

html{
  scroll-behavior: smooth;
}
